# Binaries for programs and plugins
*.exe
*.exe~

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/vendor

/arwen/debug
/cmd/test/test

# VSCode settings
.vscode

tags
